body{
    text-align: center;
    background-color: rgb(240, 197, 248);
    color :  rgb(65, 16, 65);
    
}

button{
        width: 200px;
        height: 100px;
        padding: 10px;
        margin:30px 10px;
        font-size: 30px;
        font-weight: bold;
        border-radius:5%;       
}

#results{
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
}

.footer {
    position:fixed;
    bottom:2px;
    left:45%;  
    font-size: 20px;
    
}